* {
    box-sizing: border-box;
}

main {
    position: fixed;
    background-color: darkgrey;
    margin: 1% auto;
    width: 100%;
    height: 100%;
}

header {}

#board {
    position: relative;
    width: 90%;
    height: 90%;
    margin: 20px auto;
    padding: 0;
    border: solid black 3px;
}

.row {
    display: block;
    width: 100%;
    height: 25%;
    border: solid grey 2px;
}
    footer {}